.menu__position {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #505050;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.active {
    color: rgba(255, 250, 160);
}

.game__link {
    background-color: rgb(22, 142, 247);
    padding: 18px;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    font-size: 30px;
}